/* Style for each card *

/* Card content style */
.cardContent {
  padding: 16px;
}

/* Parent container for all cards (this holds the flexbox properties) */
.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Ensures that cards wrap when they overflow */
  gap: 16px; /* Adds space between cards */
  justify-content: flex-start; /* Aligns cards to the left */
  padding: 1rem; /* Adds padding around the container */
}

.headLink {
  text-decoration: none;
  color: #ff0000;
  font-size: 2rem;
  margin: 2rem;
  font-weight: bold;
}
