/* Ensure the page takes at least the full viewport height */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the full height of the page */
}

/* Main content will take available space pushing footer down */
.content {
  flex: 1;
}

.footer {
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.navLink:hover {
  color: #ff0000;
}

.copy {
  font-size: 0.875rem;
  text-align: left;
  margin-top: 1rem;
  flex: 1 0 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
