.header {
  display: flex;
  justify-content: space-between; /* Space between logo and links */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  align-items: center;
  color: #ff0000;
  text-decoration: underline;
}

.subtitle {
  font-size: 1.5rem;
  color: #ff0000;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.navLink:hover {
  color: #ff0000;
}
