:root {
  --background: #ffffff;
  --foreground: #000000;
  --hover-text: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@import "@/app/welcome/WelcomePage.module.css";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
}

/* Main container styling */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.home-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 100rem;
  margin-bottom: 2rem;
}

.home-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--hover-text);
}

.home-subtitle {
  font-size: 2rem;
}

/* Image styling */
.home-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Send the image to the background */
}

/* Links container */
.home-links {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 5rem; /* Space between links */
  margin-bottom: 2rem; /* Add some spacing from the bottom */
}

/* Styling for the Link elements */
.home-link {
  text-decoration: none;
  color: var(--foreground);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px; /* Optional rounded corners */
  transition: background-color 0.3s, color 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer; /* Change cursor to pointer */
  display: inline-block; /* Ensure block behavior for padding and hover */
}

/* Hover effect for links */
.home-link:hover {
  /* Change background on hover */
  color: var(--hover-text); /* Change text color on hover */
}

/* globals.css */
.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
}

.mainContent {
  flex: 1;
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 1200px) {
  .mainContent {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .mainContent {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .mainContent {
    padding: 0.75rem;
  }
}
